<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     
    <mat-card>
        <mat-nav-list>
            <a mat-list-item  routerLink="/">
                <mat-icon>home</mat-icon><span class="nav-caption ml-2" >Home</span>
            </a>

            <a mat-list-item  routerLink="/about-us">
                <mat-icon>import_contacts</mat-icon><span class="nav-caption ml-2" >About Us</span>
            </a>


        </mat-nav-list>
    </mat-card>





</body>
</html>