<mat-card>
    <mat-action-list>
        <mat-card-header>
            <div mat-subheader class="admin-menu">Admin MENU</div>
        </mat-card-header>

        <div class="btn">
            <button mat-list-item routerLink="/admin-dash/adminHome">
                <mat-icon>home</mat-icon>
                Home
            </button>

            <button mat-list-item routerLink="/admin-dash/addBook">
                <mat-icon>add_circle</mat-icon>
                Add Book
            </button>

            <button mat-list-item routerLink="/admin-dash/viewBook">
                <mat-icon>view_list</mat-icon>
                View Book
            </button>

            <button mat-list-item routerLink="/admin-dash/orders">
                <mat-icon>inventory_2</mat-icon>
                View Orders
            </button>
        </div>
          <div>
            <button mat-list-item class="log-out" (click)="logOut()">
                <mat-icon>logout</mat-icon>
                Logout
            </button>
          </div>
        

    </mat-action-list>
</mat-card>