<div class="container" id="img-slid">

    
     

      


    <div class="container-fluid " >

        <owl-carousel-o [options]="customOptions" id="img-border">
            <ng-template carouselSlide>
                
                <img src="../../assets/images/books-shop.jpg" height="470px" width="100vh" id=img >
                
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../assets/images/books1.jpg" height="470px" width="100vh" id=img >
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../assets/images/book2.jpg" height="470px" width="100vh" id=img >
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../assets/images/books4.jpg" height="470px" width="100vh" id=img >
            </ng-template>
            <ng-template carouselSlide>
                <img src="../../assets/images/books5.jpg" height="470px" width="100vh" id=img >
            </ng-template>

        </owl-carousel-o>

    </div>

    
</div>