<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="bootstrap-wraper text-center">
        <h1 class="about-us">About Us</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 mt-4">
                    <mat-card class="text-mat-card">
                        <p class="about-text">Dear readers,

                            We offer huge collection of books in diverse category of Fiction, Non-fiction, Biographies,
                            History,
                            Religions, Self -Help, Children. We also sell in vast collection of Investments and
                            Management,
                            Computers, Engineering, Medical, College and School text references books proposed by
                            different
                            institutes as syllabus across the all Nagpur. Besides to this, we also offer a large
                            collection of E-Books
                            at very fair pricing.

                            We attempt to extend the customer satisfaction by catering easy user-friendly search engine,
                            quick and
                            user-friendly payment options and quicker delivery systems. Upside to all of this, we are
                            disposed to
                            provide exciting offers and pleasant discounts on our books.

                            As well, we humbly invite all the sellers around the Nagpur to partner with us. We will
                            surely provide
                            you the platform for many sparkling domains and grow the <b>“Knowledge Book Center”</b>
                            family.We would like to thank you
                            for shopping with us. You can write us for any new thoughts at “email-id” helping us to
                            improvise for
                            the reader satisfaction</p>
                    </mat-card>

                </div>
                <div class="col-md-6 w-100 mt-4">
                    
                        <app-img-slider></app-img-slider>
                   
                </div>
            </div>

        </div>

        <div class="container mt-4 mb-4">

            <mat-card class="icon-mat-card">
                <a href="https://en-gb.facebook.com/"><img src="../../../assets/social-media/facebook.png" alt=""
                        height="50px"></a>
                <a href="https://www.instagram.com/" class="ml-4"><img src="../../../assets/social-media/instagram.png"
                        alt="" height="50px"></a>
                <a href="https://twitter.com/?lang=en" class="ml-4"><img src="../../../assets/social-media/twitter.png"
                        alt="" height="50px"></a>
                <a href="https://web.whatsapp.com/" class="ml-4"><img src="../../../assets/social-media/whatsapp.png"
                        alt="" height="50px"></a>
            </mat-card>

        </div>

    </div>
   
</body>

</html>


    <app-footer></app-footer>
