<div class="container-fluid" id="adminHome">
    <div class="row">
        <div class="col-md-4">
            <mat-card class="mt-4 text-center">
                <h3>Total Iteams Add in Site</h3>
                <img src="../../../assets/images/adminHome/box.png" height="100px">
                <h1>{{totalIteams}}</h1>
            </mat-card>
        </div>
        <div class="col-md-4 text-center">
            <mat-card class="mt-4">
                <h3>Total Customer in Site</h3>
                <img src="../../../assets/images/adminHome/rating.png" height="100px">
                <h1>{{totalCust}}</h1>
            </mat-card>
        </div>
        <div class="col-md-4 text-center">
            <mat-card class="mt-4">
                <h3>Total Order by Customer</h3>
                <img src="../../../assets/images/adminHome/box (1).png" height="100px">
                <h1>{{totalOrder}}</h1>
            </mat-card>
        </div>

    </div>
</div>